<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/master}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="content-wrapper" layout:fragment="content">
        <section class="content-header">
            <h1>
                List all users
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <div style="float: right">
                    <button type="button" class="btn btn-primary btn-sm">
                        <i class="fa fa-plus">Add New</i>
                    </button>
                </div>
            </ol>

        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">User List</h3>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input th:value="${#httpServletRequest.getParameter('username')}" type="text" id="table-search" name="table_search" class="form-control pull-right" placeholder="Search">

                                    <div class="input-group-btn">
                                        <button type="submit" id="btn-search-user" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>Full Name</th>
                                    <th>Username</th>
                                    <!--<th>Password</th>-->
                                    <th>Image</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Active Status</th>
                                    <th>Created Date</th>
                                    <th>Action</th>
                                </tr>
                                <tr th:each="user :${userList}" th:object="${user}">
                                    <td th:text="*{id}"></td>
                                    <td th:text="*{fullname}"></td>
                                    <td th:text="*{username}"></td>
                                    <!--<td th:text="*{password}"></td>-->
                                    <td th:text="*{image_url}"></td>
                                    <td th:text="*{phone}"></td>
                                    <td th:text="*{email}"></td>
                                    <td>
                                        <th:block th:if="*{activeStatus}">
                                            <span class="label label-success">Active</span>
                                        </th:block>
                                        <th:block th:unless="*{activeStatus}">
                                            <span class="label label-danger">Inactive</span>
                                        </th:block>

                                    </td>
                                    <td th:text="*{#dates.format(createdAt, 'yyyy-MM-dd hh:mm:s a')}"></td>
                                    <td>
                                        <button th:attr="data-id=*{id}" type="button" data-toggle="modal" data-target="#modal-default" class="btn btn-primary btn-xs btn-update">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <a href="#" type="button" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash"></i>
                                        </a>

                                    </td>
                                    <!--<td><span class="label label-success">Approved</span></td>-->
                                    <!--<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
                                </tr>
                                </tbody></table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <div class="modal fade in" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Update User Info</h3>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-6">
                                    <input class="hidden" id="user-id">
                                    <div class="form-group">
                                        <div>
                                            <input type="text" class="form-control" id="user-fullName" placeholder="Full Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <input type="text" class="form-control" id="user-phoneNumber" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <input type="text" class="form-control" id="user-email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="active" value="active">
                                                Active
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="inactive" value="inactive">
                                                Inactive
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <img src="http://placehold.it/150x130" alt="...">
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-success btn-xl">Upload</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary btn-update-submit">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
<script layout:fragment="script">

    $(document).ready(function () {
        //search jquery
        $('#btn-search-user').on('click', function () {
            var text_to_search = $('#table-search').val();
            if (text_to_search == ''){
                window.location='/admin/users/all';
            }
            else {
                window.location='/admin/users/all?username=' + text_to_search;
            }
            window.location='/admin/users/all?username=' + text_to_search;
        });

        //get id once click on btn-update
        var data_id = '';
        $('.btn-update').on('click', function () {
            data_id = ($(this).attr('data-id'));
            console.log(data_id);
            $('.modal').modal.show();
            // $.ajax({
            //     url: '/api/v1/users/' + data_id,
            //     type: 'GET',
            //     connectType: 'application/json',
            //     success: function (response) {
            //         console.log(response);
            //         $('#user-id').val(response.data.id);
            //         $('#fullName').val(response.data.fullname);
            //         $('#phoneNumber').val(response.data.phone);
            //         $('#email').val(response.data.email);
            //         if(response.data.activeStatus == '1'){
            //             // alert(1);
            //             $('#active').attr('checked', 'checked');
            //         }
            //         else {
            //             // alert(0);
            //             $('#inactive').attr('checked', 'checked');
            //         }
            //     },
            //     error: function (error) {
            //         console.log(error)
            //     }
            // });
        });

        //ajax pass value from table list to modal form
        $('.modal').on('show.bs.modal', function (e) {
            $.ajax({
               url:'/api/v1/users/' + data_id,
               method: 'GET',
                contentType:'application/json',
                success: function (response) {
                   console.log(response);
                   $('#user-id').val(response.data.id);
                   $('#user-fullName').val(response.data.fullname);
                   $('#user-phoneNumber').val(response.data.phone);
                   $('#user-email').val(response.data.email);
                   if(response.data.activeStatus == 0){
                       $('#inactive').attr('checked', 'checked');
                   }else{
                       $('#active').attr('checked', 'checked');
                   }
                },
                error: function (response) {
                    console.log(response);
                }
            });

        });

    //    TODO Update after data loaded into modal form
    });
</script>

</body>
</html>